@charset "utf-8";
body{
	background-image: url(../images/electionresult.jpg);
 	background-repeat: no;
	background-size: 100%; 
}
.bodycolor {
	background-color: cornflowerblue;
}
.headcolor {
background-color: lightcoral
}